x-view > header { 
background: -webkit-gradient(linear, center top, center bottom, from(#D10E08), to(#941413)); 
background: -moz-linear-gradient(center top , #D10E08, #941413) repeat scroll 0 0 transparent; 
}
x-view > header button { 
	background: transparent no-repeat center center;
}
button.settings { background: transparent url(../img/settings.png) no-repeat center center;   display: inline-block;
  vertical-align: middle;
  color: transparent;
  font: 0/0 a;
  overflow: hidden;
  position: relative;
  }
button.back { background: transparent url(../img/back.png) no-repeat center center;   display: inline-block;
  vertical-align: middle;
  color: transparent;
  font: 0/0 a;
  overflow: hidden;
  position: relative; 
}
.logo_home {
    display: inline;
    float: left;
    position: relative;
    width: 192px;
}
.logo_home img {height:50px;border:none;}
.versioord {
    color: #FFFFFF;
    float: right;
    padding-right: 1.3em;
}
.versioord a {color: #FFFFFF; text-decoration:none; font-size:0.8em; font-weight:bold;}
#section {width:100%; padding:1em; height:3.2em;float:left;clear:right;}
#section h1 {color: #FFFFFF; font-weight:bold; font-family: Arial,Helvetica,sans-serif; float:left;}
#footer {
    background: none repeat scroll 0 0 #E5E3D8;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.9em;
    margin-top: 1.5em;
    padding: 0 0 4.5em;
    text-align: center;
    width: 100%;
}
#main { width: 95%; margin: 0 auto; }
#area, #inter {clear:left;}
#langpairdiv { height: 3em; }
#langpairdiv input, #langpairdiv select { display: block; }
#langpairdiv-center { width: 80%;  float: left;  }
#langpairdiv-center select { width: 100%; height: 2em; margin: 0 auto; }
#langpairdiv-right { width:20%; float: right; }
#langpairdiv-right input { text-align: right;  margin: 0 0 0 auto; padding-right: 1em; height: 2.5em; }
textarea {margin: 0 auto; display:block; font-size: 1.2em; clear: both; width: 100%; }
#buttons, #opcions {margin: 1.5em auto 1.3em; display:block; text-align:center;}
#inter select {font-size:100%;}
#buttons input {font-size:1.2em; padding: 0.4em;}
#opcions p {padding:0.4em; margin:0.4em;}
#opcions #unknown, #opcions #valencia {-webkit-transform: scale(1.5,1.5); -moz-transform: scale(1.3,1.3); transform: scale(1.3,1.3); margin-right: 0.4em;}
#ad {width:240px; margin: 15px auto 10px; display:block; text-align:center;}
#dv_traduccio { margin: 20px auto; display:block;}
#dv_traduccio h3 { margin: 5px auto 5px; float: left;}
#dv_traduccio .button-clear { float:right;  }
#dv_traduccio .button-clear #neteja { height: 2.5em; margin-right: 0em; }
.link_select {
    font-size:0.8em;
    padding-top:10px;
    color:#666;
    text-align:center;
    margin:5px;
}
#dv_traduccio input {font-size:110%; padding: 5px;}
.link_select span {
    cursor:pointer;
}
#historial { display: block;margin: 50px auto 10px;}
#mostrahistorial {float: left;}
#netejahistorial {display:none; font-size: 85%; float:right;}
.controls {width:100%; margin-bottom: 15px;}
.controls a{color: #656565;}
.histitem {clear:both; padding: 10px 0px;}
.histitem .txt {padding-left: 15px;}
.select {float:left;}
.select img {width:30px;}
a.select {text-decoration: none; color: #656565; float:none;}
.remove {float:right;}
#plataformes {
    border-top: 1px solid #DDE2CC;
    float: left;
    margin-top: 35px;
    padding-top: 25px;
    width: 100%;
}
#logos {margin: 30px auto 10px; width:95%; float:left; border-top: 1px dotted #B4B1A2; padding: 15px;}
#logos div {margin: 0 auto; width:100%; float:left;}
#logos .icon, #plataformes .icon {text-align:center; width:50%;}
#logos .left, #plataformes .left {float:left;}
#logos .right, #plataformes .right {float:right;}
#logos .icon a, #plataformes .icon a {text-decoration:none;}
#logos .icon img {min-width:120px; max-width:135px;text-align:center; border:none; padding: 5px; margin-left: auto; margin-right: auto;}
#plataformes .icon img {min-width:80px; max-width:100px;text-align:center; border:none; padding: 5px; margin-left: auto; margin-right: auto;}
#warninternet {display:none; text-align: center; margin: 20px auto; font-size: 110%; color: red; font-weight: bold;}
